*,
*::after,
*::before {
    box-sizing: border-box;
}


@font-face {
    font-family: "Vogue Highline Serif Medium";
    src: url('Vogue Highline Serif Medium/Vogue Highline Serif Medium.woff')                format('woff'),
         url('Vogue Highline Serif Medium/Vogue Highline Serif Medium.woff2') format('woff2');
    font-family: "Cormorant Medium";
    src: url('Cormorant Medium/Cormorant Medium.woff') format('woff'),
         url('Cormorant Medium/Cormorant Medium.woff2') format('woff2');
    font-family: "Cormorant Bold";
    src: url('Cormorant Bold/Cormorant Bold.woff') format('woff'),
         url('Cormorant Bold/Cormorant Bold.woff2') format('woff2');
    /*font-family: "Cormorant";
    src: url('Cormorant/Cormorant.woff') format('woff'),
         url('Cormorant/Cormorant.woff2') format('woff2'),
         url('Cormorant/Cormorant-Regular.ttf') format('truetype');*/
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

body {
    background-color: black;
    color: white;
    font-family: Cormorant, sans-serif;
    font-size: 28px;
    line-height: 40px;
}
.container {
    max-width: 1520px;
    margin: 0 auto;
}
.main-page {
    
    padding-bottom: 255px;
}
.header-top {
    border: 1px solid #FFFFFF;
    border-top: none;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 10px;
}
.header-top__menu::after {
    display: block;
    clear: both;
    content: "";
}
.logo {
    background-image: url("logo011_new.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 102px;
    min-height: 77px;
    float: left;
    margin-top: 30px;
}
.menu {
    float: left;
}
.menu li {
    display: inline-block;
    font-size: 20px;
    margin-right: 45px;
}
.menu li .icon {
    width: 37px;
    height: 37px;
}

.menu li .icon a{
    padding-top: 20px;
}

.menu li .icon-card {
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 20px;
}
.menu li .icon-login {
    margin-right: 150px;
}
.menu li .icon-phone {
    margin-left: auto;
}


.header-top__promo {
    margin-left: 70px;
    margin-top: 50px;
}
.header-top__promo-social {
    float: left;
    padding-bottom: 0px;
}
.header-top__promo-item {
    float: left;
    padding-left: 60px;
}
.header-top__promo::after {
    display: block;
    clear: both;
    content: "";
}
.promo-social a img {
    padding-top: 20px;
    height: 37px;
    width: 37px;
}
.promo-title {
    font-size: 54px;
    font-family: 'Vogue Highline Serif Medium', sans-serif;
}
.promo-text {
    font-size: 20px;
    font-family: Cormorant, sans-serif;
    line-height: 1.5;
}
.btn-order {
    border: 1px solid #FFFFFF;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 22px;
    color: white;
    font-family: 'Vogue Highline Serif Medium', sans-serif;
    text-align: center;
    padding-top: 6px;
    text-decoration: none;
}
.features {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 550px;
}
.features-item {
    float: left;
    margin-right: 50px;
    width: 330px;
}
.features-item:last-child {
    margin-right: 0px;
}
.features-title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Vogue Highline Serif Medium', sans-serif;
}
.features-img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}
.features-img-bread {
    background-image: url("bread1.png");
    background-position: center, center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.features-img-desert {
    background-image: url("cake2.png");
    background-position: center, center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.features-img-kitchen {
    background-image: url("pizza.png");
    background-position: center, center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.features-text {
    font-size: 20px;
    font-family: Cormorant, sans-serif;
    text-align: center;
    line-height: 1.5;
}
.feedback {
    background: url("feedback-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 60px;
    padding-bottom: 70px;
    width: 100%;
}
.feedback-container {
    width: 900px;;
    height: 400px;
    background-color: white;
    margin: 0 auto;
    padding: 0 20px;
}
.feedback-title {
    color: black;
    font-family: 'Vogue Highline Serif Medium', sans-serif;
    text-align: center;
    font-size: 51px;
}
.contacts {
    float: left;
    color: black;
}
.form {
    float: right;
}
.feedback-item::after {
    display: block;
    clear: both;
    content: "";
}
.main-footer .container{
    margin: 0 auto;
    padding: 0 10px;
}